.ant-modal {
    .ant-modal-header {
        background-color: #D02431;
        .ant-modal-title {
            text-align: center;
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            line-height: 100%;
        }
    }
    .ant-modal-close {
        svg path {
            color: #fff;
        }
    }
    .ant-modal-footer {
        border-top: none;
        text-align: center;
        padding: 1rem 0 2.5rem 0;
        a {
            color: #000;
            margin-right: 2.5rem;
            &:hover {
                color: #D02431;
                text-decoration: none;
            }
        }
        .ant-btn-primary {
            border-radius: 3rem;
            padding: 0.7rem 1.3rem;
            font-weight: bold;
        }
    }
    form {
        label {
            width: 6rem;
            text-align: right;
            display: inline-block;
            margin-right: 1rem;
        }
        input, select {
            width: calc(100% - 7rem);
            display: inline-block;
        }
    }
    h2 {
        text-align: center;
        font-weight: 200;
    }
}