.ant-modal {
    .ant-modal-header {
        background-color: #D02431;
        .ant-modal-title {
            text-align: center;
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            line-height: 100%;
        }
    }
}