.ant-list-item {
    .ant-list-item-action {
        align-self: center;
        margin: 0;
    }

    .anticon {
        vertical-align: 0;
        margin-right: 4px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li h6, li p {
            margin-bottom: 8px;
            display: inline-block;
        }
    }

}