#header {
    text-align: center;
    background-color: #F8F8F8;
    img {
        padding: 1rem 0;
    }
}

#root {
    min-height: calc(100vh - 130px);
    margin: 3rem 5% 4rem;
}

#footer {
    background-color: #F2F2F2;
    text-align: center;
    padding: 1rem 0;
    p {
        margin: 0;
        a {
            font-weight: bold;
            color: #000;
            &:hover {
                color: #d52738;
                text-decoration: none;
            }
        }
    }
}

a {
    color: #000;
    font-weight: bold;
    &:hover {
        color: #d52738;
        text-decoration: none;
    }
}

.ant-btn-primary {
    background-color: #d52738;
    border-color: #d52738;
    &:hover {
        background-color: transparent;
        border-color: #d52738;
        color: #d52738;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    color: #707070;
    span:first-child {
        font-weight: 100;
    }
}

.search-field {
    height: 4rem;
    font-size: 2rem;
    font-weight: 100;
    .anticon-search svg {
        width: 2rem;
        height: 2rem;
    }
    ::placeholder, input {
        font-size: 2rem;
        font-weight: 100;
        align-self: center;
    }
}

.btn-add {
    display: block;
    background: #d52738;
    padding: 13px;
    color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    float: right;
    overflow: hidden;
    position: fixed;
    bottom: 7%;
    right: 5%;
    text-align: center;
    .anticon {
        vertical-align: 0;
        svg {
            width: 25px;
            height: 25px;
            margin: 0 0.5rem 0.5rem 0;
        }
    }
    &:hover {
        width: 200px;
        color: #fff;
        text-align: left;
    }
}

.ant-pagination {
    text-align: center;
    .ant-pagination-item-active {
        border-color: #d52738;
        a {
            color: #d52738;
        }
    }
}