#header {
    text-align: center;
    background-color: #F8F8F8;
    img {
        padding: 1rem 0;
    }
}

#root {
    min-height: 68vh;
    margin: 3rem 5% 4rem;
}

#footer {
    background-color: #F2F2F2;
    text-align: center;
    padding: 1rem 0;
    p {
        margin: 0;
        a {
            font-weight: bold;
            color: #000;
            &:hover {
                color: #d52738;
                text-decoration: none;
            }
        }
    }
}

a {
    color: #000;
    font-weight: bold;
    a:hover {
        color: #d52738;
        text-decoration: none;
    }
}

.ant-btn-primary {
    background-color: #d52738;
    border-color: #d52738;
    &:hover {
        background-color: transparent;
        border-color: #d52738;
        color: #d52738;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
}