.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

ul li {
  font-weight: bold;
  text-align: center; }

#header {
  text-align: center;
  background-color: #F8F8F8; }
  #header img {
    padding: 1rem 0; }

#root {
  min-height: 68vh;
  margin: 3rem 0 4rem 0; }

#footer {
  background-color: #F2F2F2;
  text-align: center;
  padding: 1rem 0; }
  #footer p {
    margin: 0; }
    #footer p a {
      font-weight: bold;
      color: #000; }
      #footer p a:hover {
        color: #d52738;
        text-decoration: none; }

a:hover {
  color: #d52738;
  text-decoration: none; }
