.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  font-family: 'Source Sans Pro', sans-serif; }

ul li {
  font-weight: bold;
  text-align: center; }

#header {
  text-align: center;
  background-color: #F8F8F8; }
  #header img {
    padding: 1rem 0; }

#root {
  min-height: 68vh;
  margin: 3rem 5% 4rem; }

#footer {
  background-color: #F2F2F2;
  text-align: center;
  padding: 1rem 0; }
  #footer p {
    margin: 0; }
    #footer p a {
      font-weight: bold;
      color: #000; }
      #footer p a:hover {
        color: #d52738;
        text-decoration: none; }

a {
  color: #000;
  font-weight: bold; }
  a a:hover {
    color: #d52738;
    text-decoration: none; }

.ant-btn-primary {
  background-color: #d52738;
  border-color: #d52738; }
  .ant-btn-primary:hover {
    background-color: transparent;
    border-color: #d52738;
    color: #d52738; }

.main {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: flex-start;
  /* Safari 7.0+ */
  display: flex;
  align-items: flex-start; }
  .main .login-form {
    margin: 0 auto;
    -webkit-align-self: center;
    /* Safari 7.0+ */
    align-self: center;
    width: 20rem; }
    .main .login-form .ant-btn {
      width: 100%; }
    .main .login-form .login-form-forgot {
      display: inline-block;
      float: right;
      color: #000; }
      .main .login-form .login-form-forgot:hover {
        color: #d52738; }
    .main .login-form .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #d52738;
      border-color: #d52738; }

.ant-modal .ant-modal-header {
  background-color: #D02431; }
  .ant-modal .ant-modal-header .ant-modal-title {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    line-height: 100%; }

.ant-modal .ant-modal-close svg path {
  color: #fff; }

.ant-modal form label {
  width: 6rem;
  text-align: right;
  display: inline-block;
  margin-right: 1rem; }

.ant-modal form input, .ant-modal form select {
  width: calc(100% - 7rem);
  display: inline-block; }
